<a href="https://colab.research.google.com/github/lilythomson13/wrangling_assignment3/blob/main/Data_Wrangling_Question_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Assignment: Data Wrangling
## `! git clone https://github.com/DS3001/wrangling`
## Do Q2, and one of Q1 or Q3.

**Q2.** This question provides some practice cleaning variables which have common problems.
1. Numeric variable: For `./data/airbnb_hw.csv`, clean the `Price` variable as well as you can, and explain the choices you make. How many missing values do you end up with? (Hint: What happens to the formatting when a price goes over 999 dollars, say from 675 to 1,112?)
2. Categorical variable: For the `./data/sharks.csv` data covered in the lecture, clean the "Type" variable as well as you can, and explain the choices you make.
3. Dummy variable: For the pretrial data covered in the lecture, clean the `WhetherDefendantWasReleasedPretrial` variable as well as you can, and, in particular, replace missing values with `np.nan`.
4. Missing values, not at random: For the pretrial data covered in the lecture, clean the `ImposedSentenceAllChargeInContactEvent` variable as well as you can, and explain the choices you make. (Hint: Look at the `SentenceTypeAllChargesAtConvictionInContactEvent` variable.)

In [3]:
import pandas as pd
import numpy as np
import seaborn as sns

In [ ]:
! git clone https://github.com/DS3001/wrangling

Cloning into 'wrangling'...
remote: Enumerating objects: 92, done.
remote: Counting objects: 100% (49/49), done.
remote: Compressing objects: 100% (35/35), done.
remote: Total 92 (delta 36), reused 17 (delta 14), pack-reused 43 (from 1)
Receiving objects: 100% (92/92), 18.19 MiB | 7.74 MiB/s, done.
Resolving deltas: 100% (41/41), done.

In [ ]:
#Question 1

csv_url='https://raw.githubusercontent.com/lilythomson13/wrangling/main/assignment/data/airbnb_hw.csv'
df = pd.read_csv(csv_url, low_memory=False)
print( df.shape, '\n')

df['Price'] = df['Price'].replace({',': ''}, regex=True).astype(int) #Here I am removing the comma from the prices so that I can convert the prices from strings to integers
df.head()

#df['Price'] = df['Price'].astype(int)
df_sorted = df.sort_values(by='Price', ascending=False) #Here I am sorting the prices by descending order to check that there is the correct formatting for numbers greater than 999
df_sorted.head()

(30478, 13)

,Host Id,Host Since,Name,Neighbourhood,Property Type,Review Scores Rating (bin),Room Type,Zipcode,Beds,Number of Records,Number Of Reviews,Price,Review Scores Rating
23927,23248648,11/2/2014,NO LONGER BOOKING RESERVATIONS,Manhattan,Apartment,95.0,Entire home/apt,10025.0,2.0,1,21,10000,95.0
4002,1177497,9/18/2011,Film Location,Brooklyn,House,NaN,Entire home/apt,11205.0,5.0,1,0,8000,NaN
17900,11598359,1/24/2014,SUPER BOWL Brooklyn Duplex Apt!!,Brooklyn,Apartment,NaN,Entire home/apt,11238.0,4.0,1,0,6500,NaN
2405,496780,4/9/2011,test listing which is not real,Brooklyn,Apartment,NaN,Entire home/apt,11249.0,5.0,1,0,5999,NaN
24136,23564279,11/10/2014,Breathtaking 2-Story Soho Penthouse,Manhattan,Apartment,NaN,Entire home/apt,10013.0,3.0,1,0,5000,NaN

In [ ]:
#Question 2
csv_url2='https://raw.githubusercontent.com/lilythomson13/wrangling/main/assignment/data/sharks.csv'
df2 = pd.read_csv(csv_url2, low_memory=False)
print( df2.shape, '\n')
#df2.head(50) To visualize the first 50 rows of the dataframe

unique_values=df2['Type'].unique()
print(unique_values) #To see all of the observations of the type of attack

(6462, 257)

['Unprovoked' 'Provoked' 'Questionable' 'Watercraft' 'Unconfirmed'
 'Unverified' 'Invalid' 'Under investigation' 'Boating' 'Sea Disaster' nan
 'Boat' 'Boatomg']

In [ ]:
var='Type'
print(df2[var].value_counts(), '\n') #Looking at the different amounts of observations under different variables

Type
Unprovoked             4716
Provoked                593
Invalid                 552
Sea Disaster            239
Watercraft              142
Boat                    109
Boating                  92
Questionable             10
Unconfirmed               1
Unverified                1
Under investigation       1
Boatomg                   1
Name: count, dtype: int64

In [ ]:
df2['Type']=df2["Type"].replace({'Invalid': 'Not Confirmed Currently', 'Questionable':'Not Confirmed Currently','Unconfirmed': 'Not Confirmed Currently', 'Unverified': 'Not Confirmed Currently', 'Under investigation': 'Not Confirmed Currently'})
#Here I am replacing the types of indicidents under a broader label to consolidate the data
print(df2['Type'].value_counts()) #Looking at the number of observations under the new variables

Type
Unprovoked                 4716
Provoked                    593
Not Confirmed Currently     565
Sea Disaster                239
Watercraft                  142
Boat                        109
Boating                      92
Boatomg                       1
Name: count, dtype: int64

In [ ]:
df2['Type']=df2["Type"].replace({'Watercraft': 'Water/Boating Related', 'Sea Disaster':'Water/Boating Related','Boat': 'Water/Boating Related', 'Boating': 'Water/Boating Related', 'Boatomg': 'Water/Boating Related'})
#Here I am replacing the types of indicidents under a broader label to consolidate the data
print(df2['Type'].value_counts()) #Looking at the number of observations under the new variables

Type
Unprovoked                 4716
Provoked                    593
Water/Boating Related       583
Not Confirmed Currently     565
Name: count, dtype: int64

In [ ]:
df2 = df2.rename(columns={'Nature of Incident': 'Frequency'}) #Trying to rename the columns for better labeling
print(df2['Type'].value_counts())

Type
Unprovoked                 4716
Provoked                    593
Water/Boating Related       583
Not Confirmed Currently     565
Name: count, dtype: int64

In [4]:
#Question 3

from google.colab import drive
drive.mount('/content/drive')
df5=pd.read_parquet('/content/drive/MyDrive/justice_data.parquet')
#print(df5.shape,'\n') #looking at the shape of the df
#print(df5.columns.tolist()) #looking at column names
#print(df5['WhetherDefendantWasReleasedPretrial']) #Looking at the values under this variable


df5.replace(9, np.nan,inplace=True) #changing 9 values to null values since these are missing
print(df5['WhetherDefendantWasReleasedPretrial'].unique()) #looking at the unique values saved under this variable

ReleasePretrial=df5['WhetherDefendantWasReleasedPretrial']
print(ReleasePretrial.value_counts()) #looking at how many observations there are of being released or not released pre trial

ReleasePretrial.replace({1.0: 'Released Pretrial', 0.0: 'Not Released Pretrial'})
print(ReleasePretrial.value_counts()) #Here I am trying to change the variable names from Released and Not Released instead of 0 and 1
#Used chatgpt for this code

df5['WhetherDefendantWasReleasedPretrial']=ReleasePretrial #Saving these new modifications into the dataframe

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).
[nan  0.  1.]
WhetherDefendantWasReleasedPretrial
1.0    19154
0.0     3801
Name: count, dtype: int64
WhetherDefendantWasReleasedPretrial
1.0    19154
0.0     3801
Name: count, dtype: int64

In [15]:
#Question 4
#referenced solution to help with this question

variable1=df5['ImposedSentenceAllChargeInContactEvent']

#print(variable1.value_counts()) to see how many observations there are for each set of data for this variable
#print(variable1.unique()) to see the unique values for this variable

variable1=pd.to_numeric(variable1, errors='coerce') #this converts the numbers that are in string form to numeric

variable2=df5['SentenceTypeAllChargesAtConvictionInContactEvent']
#print(variable2.value_counts()) to see how many observations come up in this variable

variable2=pd.to_numeric(variable2, errors='coerce') #Change this variable from strings to numeric values

variable1_missing = variable.isnull() # Create a missing dummy
print( np.sum(variable1_missing),'\n') #Shows that there are 9,053 missing values in this variable

variable2_missing = variable2.isnull() # Create a missing dummy
print(np.sum(variable2_missing),'\n') #Shows that there are 274 missing values in this variable

pd.crosstab(variable1, variable2) #This shows that in the column "4.0" is the missing values

variable1= variable1.mask(variable2 == 4, 0) #replaces this var with 0 when variable 2 == 4
variable1= variable2.mask(variable2==9, np.nan) #replaces variable 1 with not a number (np.nan) when variable 2==9

df5['ImposedSentenceAllChargeInContactEvent']=variable1 #saves the cleaned version of the variables to the df
df5['SentenceTypeAllChargesAtConvictionInContactEvent']=variable2 #saves the cleaned version of the variables to the df

9053

274